body{
    background-image: url('https://cdn.dribbble.com/users/2156796/screenshots/19992280/media/7d2ee3a4d15d1f335419059066067694.gif');
    background-size: cover; 
    height: 100vh;
    padding:0;
    margin:0;
    font-family: sans-serif;
}

.amountDiv{
    background-color: rgba(0, 115, 255, 0.9);
    border-radius: 25px;
}

.maindiv{
    border-radius: 25px;
    width: 70vh;
}

.budgetDiv{
    background-color: rgba(0, 179, 255, 0.8);
    border-radius: 25px;
}

.productDiv{
    background-color: rgba(0, 179, 255, 0.8);
    border-radius: 25px;
}

.tableDiv{
    background-color: #dff7fcb5;
    border-radius: 25px !important;
}

.table{
    border-radius: 25px !important;
}

.maintable{
    border-radius: 25px !important;

}

.table-info{
    border-radius: 25px !important;
}

#alertdiv{
    position: fixed;
    width: 50vh !important;
    visibility: hidden;
    border-radius: 25px;
}
